#  发布到github 
# package.json 加上 "publishConfig": {"registry": "https://npm.pkg.github.com/<github username>"}

# registry=https://npm.pkg.github.com/OWNER

# 发布到npm

registry=https://registry.npmjs.org/